<footer>
    <p class="social">
        Follow us:
        <a class="social__link social__link--mastodon" href="https://mastodon.social/@fword_dev">
            <svg class="social__icon" width="38" height="38" aria-hidden="true" focusable="false">
                <use xlink:href="/images/icons.svg#mastodon"></use>
            </svg>
            Mastodon
        </a>
        or
        <a class="social__link social__link--twitter" href="https://twitter.com/fword_dev">
            <svg class="social__icon" width="38" height="38" aria-hidden="true" focusable="false">
                <use xlink:href="/images/icons.svg#twitter"></use>
            </svg>
            Twitter
        </a>
    </p>
    <p class="copyright">
        <span>
            Bruce Lawson,
            Vadim Makeev<br>
            <a class="copyright__link" href="https://github.com/fword-dev/f-word.dev/blob/master/LICENSE.md">
                CC BY-NC-ND 4.0
            </a>
        </span>
        <a class="copyright__link" href="https://www.11ty.dev/" aria-label="Built with Eleventy">
            <svg width="44" height="38" aria-hidden="true" focusable="false">
                <use xlink:href="/images/icons.svg#11ty"></use>
            </svg>
        </a>
    </p>
</footer>
