<footer>
    <p class="social">
        <a class="social__link" href="https://twitter.com/fword_dev">
            <svg class="social__icon" width="38" height="38" aria-hidden="true" focusable="false">
                <use xlink:href="/images/icons.svg#twitter"></use>
            </svg>
            Follow us on Twitter
        </a>
    </p>
    <p class="copyright">
        <span>
            Bruce Lawson,
            Vadim Makeev<br>
            <a class="copyright__link" href="">
                CC BY-NC-ND 4.0
            </a>
        </span>
        <a class="copyright__link" href="https://www.11ty.dev/" aria-label="Built with Eleventy">
            <svg width="38" height="38" aria-hidden="true" focusable="false">
                <use xlink:href="/images/icons.svg#11ty"></use>
            </svg>
        </a>
    </p>
</footer>
