<footer>
    <p class="social">
        <a class="social__link" href="https://twitter.com/fword_dev">
            <svg class="social__icon" width="38" height="38" aria-hidden="true" focusable="false">
                <use xlink:href="/images/social.svg#twitter"></use>
            </svg>
            Follow us on Twitter
        </a>
    </p>
    <p class="copyright">
        Bruce Lawson,
        Vadim Makeev<br>
        <a class="copyright__link" href="">
            CC BY-NC-ND 4.0
        </a>
    </p>
</footer>
