<header class="header">
    <a href="/">
        <img class="header__logo" src="/images/icons/any.svg" width="160" height="160" alt="The F-Word">
    </a>
    <p class="header__title" aria-hidden="true">
        The<br>
        F-Word
    </p>
</header>
