/* Content */

.content {
    padding: 16px 20px 16px;
    hyphens: auto;
}

.content:focus-visible {
    outline: none;
}

/* Heading */

.content h3 {
    margin: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    line-height: 1.1;
    font-variant: small-caps;
    font-weight: 900;
    font-size: 24px;
}

/* Paragraph */

.content p {
    margin-top: 0;
    margin-bottom: 16px;
    line-height: 2;
}

/* List */

.content ul {
    display: grid;
    row-gap: 12px;
    padding: 0;
    padding-left: 16px;
    margin-top: 0;
    margin-bottom: 16px;
    list-style: none;
}

.content li::before {
    position: absolute;
    margin-top: 7px;
    margin-left: -16px;
    width: 8px;
    height: 8px;
    background-color: var(--special-pink);
    content: '';
}

/* Rule */

.content hr {
    margin-top: 0;
    margin-bottom: 8px;
    border: none;
    color: inherit;
    text-align: center;
    font-weight: 700;
}

.content hr::before {
    content: '• • •';
}

/* Inline */

.content a {
    color: inherit;
}

.content a:visited {
    color: var(--special-violet);
}

.content a:hover {
    color: var(--special-pink);
}

.content a:focus-visible {
    display: inline-block;
    outline: 3px solid var(--special-blue);
    outline-offset: 2px;
}
