/* Copyright */

.copyright {
    display: grid;
    grid-template-columns: 1fr min-content;
    column-gap: 20px;
    justify-content: space-between;
    margin: 0;
    padding: 24px 20px 28px;
    background-color: var(--basic-black);
    color: var(--basic-white);
}

.copyright__link {
    color: inherit;
}
