/* Episode */

.episode {
    padding: 32px 20px 36px;
    background-color: var(--basic-black);
    color: var(--basic-white);
}

/* Title */

.episode__title {
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 24px;
}

/* Hosts */

.episode__hosts {
    margin-top: 0;
    margin-bottom: 20px;
}

/* Audio */

.episode__audio {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 100px;
}

/* Chapters */

.episode__chapters {
    display: grid;
    row-gap: 8px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.episode__chapter {
    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: 8px;
}

/* Time */

.episode__time {
    font-weight: bold;
    font-variant: tabular-nums;
}
