/* Episode */

.episode {
    padding: 32px 20px;
    background-color: var(--basic-black);
    color: var(--basic-white);
}

/* Title */

.episode__title {
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 24px;
}

/* Hosts */

.episode__hosts {
    margin-top: 0;
    margin-bottom: 32px;
}

/* Audio */

.episode__audio {
    display: block;
    width: 100%;
    margin-bottom: 12px;
    border-radius: 100px;
}

.episode__audio:focus-visible {
    outline: 3px solid var(--special-blue);
    outline-offset: 2px;
}

/* Chapters */

.episode__chapters {
    display: grid;
    margin: 0 -4px;
    padding: 0;
    list-style: none;
}

.episode__chapter {
    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: 8px;
    padding: 4px;
}

.episode__chapter--has-button {
    cursor: default;
}

.episode__chapter--has-button:hover {
    background-color: var(--basic-extra-dark)
}

.episode__chapter--has-button:focus-within {
    outline: 3px solid var(--special-blue);
    outline-offset: -3px;
}

/* Time */

.episode__time {
    font-weight: bold;
    font-variant: tabular-nums;
}

.episode__time--button {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    padding: 0px;
    border: 0px;
}

.episode__time--button:focus,
.episode__time--button::-moz-focus-inner {
    outline: none;
    border: 0;
}
