/* Feature */

.feature {
    position: relative;
    display: grid;
    row-gap: 8px;
    padding: 32px 20px;
}

.feature + .feature {
    border-top: 1px solid var(--basic-dark);
}

/* Title */

.feature__title {
    margin: 0;
    font-size: 24px;
}

/* Link */

.feature__link {
    display: inline-block;
    color: inherit;
}

.feature__link:focus-visible {
    outline: 3px solid var(--special-blue);
    outline-offset: 2px;
}

.feature__link:hover {
    color: var(--special-pink);
}

.feature__link::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
}

/* Hosts */

.feature__hosts {
    margin: 0;
}
