/* Header */

.header {
    display: grid;
    align-items: center;
    grid-template-columns: min-content 1fr;
    background-color: var(--special-pink);
}

/* Link */

.header__link:focus {
    outline: 3px solid var(--special-blue);
    outline-offset: -3px;
}

/* Logo */

.header__logo {
    display: block;
}

/* Title */

.header__title {
    margin: 0;
    color: var(--basic-white);
    font-weight: 700;
    font-size: 32px;
}
