/* Intro */

.intro {
    display: grid;
    row-gap: 16px;
    padding: 32px 20px 40px;
    background-color: var(--basic-black);
    color: var(--basic-white);
}

/* Tagline */

.intro__tagline {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
}

.intro__tagline-link {
    color: inherit;
}

.intro__tagline-link:focus {
    outline: 3px solid var(--special-blue);
    outline-offset: 2px;
    box-decoration-break: ;
}

/* Services */

.intro__services {
    display: grid;
    grid-auto-flow: column;
    column-gap: 2px;
    justify-content: start;
    margin: 0;
}

/* Link */

.intro__services-link {
    color: inherit;
}

.intro__services-link:hover {
    transform: scale(1.2);
}

.intro__services-link:focus {
    outline: 3px solid var(--special-blue);
    outline-offset: 1px;
}

/* Icon */

.intro__services-icon {
    display: block;
    width: 38px;
}
