/* Social */

.social {
    margin: 0;
    padding: 16px 20px 14px;
    background-color: var(--basic-light);
    line-height: 1;
    text-align: center;
}

.social__link {
    display: inline-grid;
    grid-template-columns: min-content max-content;
    column-gap: 8px;
    align-items: center;
    color: var(--special-blue);
}

.social__link:focus-visible {
    outline: 3px solid var(--special-blue);
    outline-offset: 2px;
}

.social__icon {
    display: block;
}
