/* Tabs */

.tabs {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Tab */

.tabs__tab {
    margin: 0;
    padding: 16px 0;
    border: none;
    background-color: var(--basic-black);
    color: var(--basic-white);
    text-align: center;
    font-family: inherit;
    font-size: inherit;
}

.tabs__tab::-moz-focus-inner {
    padding: 0;
    border: none;
}

.tabs__tab[aria-selected='true'] {
    background-color: var(--basic-white);
    color: var(--basic-black);
}

.tabs__tab[aria-selected='false']:hover {
    background-color: var(--basic-extra-dark);
}

.tabs__tab:focus {
    outline: 3px solid var(--special-blue);
    outline-offset: -3px;
}
