---
permalink: feed/index.xml
---
<?xml version="1.0" encoding="UTF-8"?>
<rss xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
<channel>

    <title>{{ global.title }}</title>
    <description>{{ global.description }}</description>
    <copyright>{{ global.copyright }}</copyright>
    <language>{{ global.language }}</language>
    <link>{{ global.domain }}</link>

    <atom:link href="{{ global.domain }}/feed/" rel="self" type="application/rss+xml"/>

    <itunes:subtitle>{{ data.subtitle }}</itunes:subtitle>
    <itunes:type>{{ data.type }}</itunes:type>
    <itunes:author>{{ global.authors | join(', ') }}</itunes:author>
    <itunes:explicit>{{ data.explicit }}</itunes:explicit>
    <itunes:owner>
        <itunes:name>{{ data.owner.name }}</itunes:name>
        <itunes:email>{{ data.owner.email }}</itunes:email>
    </itunes:owner>
    <itunes:image href="{{ data.paths.cover }}"/>
    <itunes:category text="{{ data.category }}">
        <itunes:category text="{{ data.subcategory }}"/>
    </itunes:category>

{%- for episode in collections.episode | reverse -%}

    {% set description %}
        <ul>
            {%- for chapter in episode.data.chapters -%}
                <li>{{ chapter.time }} {{ chapter.title }}</li>
            {%- endfor -%}
        </ul>
        <h2>Hosts</h2>
        <ul>
            {%- for host in episode.data.hosts -%}
            <li>{{ host }}</li>
            {%- endfor -%}
        </ul>
        {{ episode.data.notes | markdown | safe }}
    {% endset %}

    {% set fileUrl %}
        {{ data.paths.audio }}{{ episode.data.number }}/audio.mp3
    {% endset %}
    {% set filePath %}
        {{ data.paths.file }}{{ episode.data.number }}/audio.mp3
    {% endset %}

    <item>
        <title>{{ episode.data.title }}</title>
        <pubDate>{{ episode.date.toUTCString() }}</pubDate>
        <description><![CDATA[{{ description | htmlmin | safe }}]]></description>

        <guid isPermaLink="true">{{ fileUrl | trim }}</guid>
        <enclosure type="audio/mpeg" url="{{ fileUrl | trim }}" length="{{ filePath | trim | length }}"/>

        <itunes:episode>{{ episode.data.number }}</itunes:episode>
        <itunes:duration>{{ filePath | trim | duration }}</itunes:duration>
        <itunes:author>{{ episode.data.hosts | join(', ') }}</itunes:author>
        <itunes:explicit>{{ data.explicit }}</itunes:explicit>
        <itunes:summary><![CDATA[{{ description | htmlmin | safe }}]]></itunes:summary>
    </item>

{%- endfor -%}

</channel>
</rss>
