---
layout: page.njk
permalink: index.html
---

{% include 'header.njk' %}

<main>
    <h1 class="visually-hidden">The F-Word</h1>

    <div class="intro">
        <p class="intro__tagline">
            Frontend podcast by <a class="intro__tagline-link" href="https://twitter.com/brucel">Bruce Lawson</a> and <a class="intro__tagline-link" href="https://twitter.com/pepelsbey_">Vadim Makeev</a> about the magical and glamorous world of web standards, browsers and everything in between.
        </p>
        <p class="intro__services">
            <a class="intro__services-link" href="https://podcasts.google.com/feed/aHR0cHM6Ly9mLXdvcmQuZGV2L2ZlZWQv" aria-label="Google Podcasts">
                <svg class="intro__services-icon" width="38" height="38" aria-hidden="true" focusable="false">
                    <use xlink:href="/images/icons.svg#google"></use>
                </svg>
            </a>
            <a class="intro__services-link" href="https://podcasts.apple.com/podcast/id1505977676" aria-label="Apple Podcasts">
                <svg class="intro__services-icon" width="38" height="38" aria-hidden="true" focusable="false">
                    <use xlink:href="/images/icons.svg#apple"></use>
                </svg>
            </a>
            <a class="intro__services-link" href="https://castbox.fm/channel/id2746085" aria-label="Castbox">
                <svg class="intro__services-icon" width="38" height="38" aria-hidden="true" focusable="false">
                    <use xlink:href="/images/icons.svg#castbox"></use>
                </svg>
            </a>
            <a class="intro__services-link" href="https://open.spotify.com/show/6fAlDgJJtXCFgU1yZUgP4s" aria-label="Spotify">
                <svg class="intro__services-icon" width="38" height="38" aria-hidden="true" focusable="false">
                    <use xlink:href="/images/icons.svg#spotify"></use>
                </svg>
            </a>
            <a class="intro__services-link" href="https://overcast.fm/itunes1505977676" aria-label="Overcast">
                <svg class="intro__services-icon" width="38" height="38" aria-hidden="true" focusable="false">
                    <use xlink:href="/images/icons.svg#overcast"></use>
                </svg>
            </a>
            <a class="intro__services-link" href="https://pca.st/3ejoleyh" aria-label="Pocket Casts">
                <svg class="intro__services-icon" width="38" height="38" aria-hidden="true" focusable="false">
                    <use xlink:href="/images/icons.svg#pocket"></use>
                </svg>
            </a>
            <a class="intro__services-link" href="https://f-word.dev/feed/" aria-label="RSS">
                <svg class="intro__services-icon" width="38" height="38" aria-hidden="true" focusable="false">
                    <use xlink:href="/images/icons.svg#rss"></use>
                </svg>
            </a>
        </p>
    </div>

    <h2 class="visually-hidden">Episodes</h2>
    {%- for episode in collections.episode | reverse -%}
        <article class="feature" id="e{{ episode.data.number }}">
            <h3 class="feature__title">
                <a class="feature__link" href="{{ episode.url }}">
                    {{ episode.data.number }}. {{ episode.data.title }}
                </a>
            </h3>
            <p class="feature__hosts">
                {{ episode.data.hosts | join(', ') }}
            </p>
        </article>
    {%- endfor -%}
</main>

{% include 'footer.njk' %}
