---
layout: page.njk
---

{% include 'header.njk' %}

<main>
    <div class="episode">
        <h1 class="episode__title">
            {{ number }}. {{ title }}
        </h1>
        <p class="episode__hosts">
            {{ hosts | join(', ') }}
        </p>
        <audio class="episode__audio" src="/episodes/{{ number }}/audio.mp3" controls></audio>
        <ul class="episode__chapters">
            {%- for chapter in chapters -%}
                <li class="episode__chapter">
                    <span class="episode__time">
                        {{ chapter.time }}
                    </span>
                    {{ chapter.title }}
                </li>
            {%- endfor -%}
        </ul>
    </div>
    <ul class="tabs">
        <li>
            <a class="tabs__link" href="#show-notes">Show Notes</a>
        </li>
        <li class="tabs__item">
            <a class="tabs__link tabs__link--current" href="#transcript">Transcript</a>
        </li>
    </ul>
    <section class="content" id="show-notes" hidden>
        <h2 class="visually-hidden">Show Notes</h2>
        {%- for chapter in chapters -%}
            <h3>{{ chapter.title }}</h3>
            <ul>
            {%- for item in chapter.list -%}
                <li>
                    <a href="{{ item.link }}">{{ item.title }}</a>
                </li>
            {%- endfor -%}
            </ul>
        {%- endfor -%}
    </section>
    <section class="content" id="transcript">
        <h2 class="visually-hidden">Transcript</h2>
        {{ content | safe }}
    </section>
</main>

{% include 'footer.njk' %}
