---
layout: page.njk
---

<h2>Chapters</h2>
<ul>
    {%- for chapter in chapters -%}
        <li>{{ chapter.time }} {{ chapter.title }}</li>
    {%- endfor -%}
</ul>
<h2>Hosts</h2>
<ul>
    {%- for host in hosts -%}
        <li>{{ host }}</li>
    {%- endfor -%}
</ul>
{%- for chapter in chapters -%}
    <h2>{{ chapter.title }}</h2>
    <ul>
    {%- for item in chapter.list -%}
        <li>
            <a href="{{ item.link }}">{{ item.title }}</a>
        </li>
    {%- endfor -%}
    </ul>
{%- endfor -%}

{{ content | safe }}
