---
layout: page.njk
---

{% include 'header.njk' %}

<main>
    <div class="episode">
        <h1 class="episode__title">
            {{ number }}. {{ title }}
        </h1>
        <p class="episode__hosts">
            {{ hosts | join(', ') }}
        </p>
        <audio class="episode__audio" src="/episodes/{{ number }}/audio.mp3" controls></audio>
        <ul class="episode__chapters">
            {%- for chapter in chapters -%}
                <li class="episode__chapter">
                    <span class="episode__time">
                        {{ chapter.time }}
                    </span>
                    {{ chapter.title }}
                </li>
            {%- endfor -%}
        </ul>
    </div>
    <div class="tabs" role="tablist" aria-label="Show Notes">
        <button class="tabs__tab" role="tab"
            aria-selected="true"
            aria-controls="show-notes-panel"
            id="show-notes-tab">
            Show Notes
        </button>
        <button class="tabs__tab" role="tab"
            aria-selected="false"
            aria-controls="transcript-panel"
            id="transcript-tab">
            Transcript
        </button>
    </div>
    <section class="content" role="tabpanel" tabindex="0"
        aria-labelledby="show-notes-tab"
        id="show-notes-panel">
        <h2 class="visually-hidden">Show Notes</h2>
        {%- for chapter in chapters -%}
            <h3>{{ chapter.title }}</h3>
            <ul>
            {%- for item in chapter.list -%}
                <li>
                    <a href="{{ item.link }}">{{ item.title }}</a>
                </li>
            {%- endfor -%}
            </ul>
        {%- endfor -%}
    </section>
    <section class="content" role="tabpanel" tabindex="0"
        aria-labelledby="transcript-tab"
        id="transcript-panel" hidden>
        <h2 class="visually-hidden">Transcript</h2>
        {{ content | safe }}
    </section>
</main>

{% include 'footer.njk' %}
