{% set title =
	global.title if
	page.url == '/' else
	title + (', page ' + (pagination.pageNumber + 1) if
	pagination.next or pagination.previous else
	'') + ' — ' + global.title
%}

{% set desc =
	desc if
	desc else
	global.description
%}

{% set cover =
	global.domain + page.url + 'cover.png' if
	cover else
	global.domain + '/images/social.png'
%}

<!DOCTYPE html>
<html class="page" lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ desc }}">

    <link rel="stylesheet" href="/styles/index.css">

    <link rel="preconnect" href="https://cdn.usefathom.com/">
    <link rel="dns-prefetch" href="https://cdn.usefathom.com/">

	<link rel="preload" href="/fonts/montserrat-medium-latin.woff2" crossorigin as="font" type="font/woff2">
	<link rel="preload" href="/fonts/montserrat-bold-latin.woff2" crossorigin as="font" type="font/woff2">
	<link rel="preload" href="/fonts/montserrat-black-latin.woff2" crossorigin as="font" type="font/woff2">

    <link rel="icon" type="image/png" sizes="160x160" href="/images/icons/160.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/icons/32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/icons/16.png">
    <link rel="icon" type="image/svg+xml" sizes="any" href="/images/icons/any.svg">
    <link rel="apple-touch-icon" href="/images/icons/160.png">
    <link rel="manifest" href="/manifest.json">

    <link rel="canonical" href="{{ global.domain + page.url }}">
    <link rel="me" href="https://mastodon.social/@fword_dev">

	<meta name="description" content="{{ desc }}">
	<meta name="generator" content="{{ eleventy.generator }}">

	<meta name="theme-color" content="#ff69b4">

    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ desc }}">
    <meta property="og:url" content="{{ (global.domain + page.url) }}">

	<meta property="og:image" content="{{ cover }}">
	<meta property="og:image:width" content="1200">
	<meta property="og:image:height" content="630">

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@fword_dev">

	<link rel="alternate" type="application/rss+xml" href="{{ global.domain }}/feed/" title="{{ global.title }}">

    <script defer src="https://cdn.usefathom.com/script.js" data-site="GCUIJXVQ"></script>
</head>
<body class="page__body">
    {{ content | safe }}
    <script type="module" src="/scripts/index.js"></script>
</body>
</html>
